rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /posts/{postId} {
      allow create: if 
        exists(/databases/{database}/documents/users/$(request.resource.data.userDocId))
        &&
        getafter(/databases/{database}/documents/users/$(request.resource.data.userDocId))
        .data.posts.keys().size() <= 5
        // do I need timestamp comparison? 
    }
    
    match /users/{userId} {
      allow update: if 
        resource.data.posts.keys().size() <= 4
    }
    // TODO: 
  }
